<ion-header>
    <ion-toolbar color="light">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button (click)="signOut()">
          <ion-icon name="log-out"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>My Notes</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
    <ion-button expand="block" routerLink="/menu/notes/detail" routerDirection="forward">
      Details forward
    </ion-button>
</ion-content>
