<ion-header>
  <ion-toolbar color="light">
      <ion-buttons slot="start">
          <ion-back-button defaulthref=""></ion-back-button>
        </ion-buttons>
    <ion-title>Details Page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
{{usersdata.Name}}<br>
{{usersdata.Email}}<br>
{{usersdata.Email}}<br>
{{usersdata.Email}}<br>
{{usersdata.Email}}<br>
{{usersdata.Email}}<br>
{{usersdata.Email}}<br>
{{usersdata.Email}}<br>
{{usersdata.Email}}<br>
{{usersdata.Email}}<br>
{{usersdata.Email}}<br>
</ion-content>